.headerCart {
  position: relative;
  padding-left: 15px;

  .cartIcon {
    width: 20px;
    height: 28px;
    cursor: pointer;
    color: black;
  }

  .cartIcon:hover {
    color: #6ca12b;
  }

  .cartQuantity {
    position: absolute;
    top: -10px;
    right: -20px;

    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #95d34a;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
  }

  .cartContainer {
    position: absolute;
    top: 45px;
    right: -15px;
    padding: 30px 20px;
    width: 380px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 5px 5px 0 rgb(50 50 50 / 20%);
    z-index: 4;
  }

  .noProduct {
    margin-top: 10px;
    padding-bottom: 10px;
    max-height: 335px;
    text-align: left;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    font-family: "Mulish", sans-serif;
  }
}
