.cartItem {
  display: flex;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;

  .cartItemImage {
    display: inline-block;
    width: 78px;
    margin-right: 12px;
  }

  .cartItemTitle {
    color: $text-color;
    font-weight: 400;
    padding-right: 20px;
    font-size: 16px;
    font-family: $font-merriweather;
    text-decoration: none;
    line-height: 1.6;
  }

  .cartItemTitle:hover {
    color: $secondary-color;
  }

  .cartItemTotalItem {
    .cartItemQuantity,
    .cartItemDouble {
      font-weight: 500;
      width: 173px;
      color: #666;
      font-size: 16px;
      font-family: $font-merriweather;
    }

    .cartItemPrice {
      color: $secondary-color;
      font-size: 20px;
      font-weight: 500;
      font-family: $font-merriweather;
    }
  }

  .cartItemDeleteContainer {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cartItemDelete {
    font-size: 15px;
    cursor: pointer;
  }
}
