.slideIndicator {
  margin-bottom: 30px;
  button {
    background-color: #ffd3d5 !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    margin-right: 8px !important;
  }

  .active {
    background-color: #f86d72 !important;
  }

  button:nth-child(3) {
    margin-right: 0 !important;
  }

  button:hover {
    background-color: #f86d72 !important;
  }
}

.slide {
  min-height: 100%;
  min-width: 100%;
  position: relative;

  .sildeImage {
    object-fit: cover;
    height: inherit;
    width: inherit;
  }

  .slideCaption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12%;

    .slideColection {
      font-weight: 700;
      text-transform: uppercase;
      height: auto;
      width: auto;
      text-decoration: none;
      color: $secondary-color;
      font-size: 11px;
      opacity: 1;
      transform: translate(0px, 0px);
      font-family: $font-merriweather;
    }

    .slideDescription {
      font-family: $font-merriweather;
      text-decoration: none;
      text-transform: capitalize;
      line-height: 28px;
      font-weight: 700;
      font-size: 25px;
      width: 300px;
      color: #2b2b2b;
      margin-top: 18px;
      margin-bottom: 32px;
    }

    .shopButton {
      background-color: #5d9b13;
      height: auto;
      width: auto;
      color: $white-color;
      line-height: 15px;
      font-size: 14px;
      font-weight: 700;
      border-color: transparent;
      padding: 15px 55px;
    }

    .shopButton:hover {
      background-color: $secondary-color;
    }
  }

  .slideLast {
    left: 60%;
  }
}

@media screen and (max-width: 992px) {
  .slideIndicator {
    margin-bottom: 20px;
  }

  .slide {
    .slideCaption {
      .slideColection {
        font-size: 8px;
      }

      .slideDescription {
        line-height: 21px;
        font-size: 18px;
        width: 220px;
        margin-top: 12px;
        margin-bottom: 24px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slideIndicator {
    margin-bottom: 10px;
  }
  .slide {
    .sildeImage {
      height: 474px;
      object-fit: initial;
    }
  }
}

@media screen and (max-width: 576px) {
  .slide {
    .sildeImage {
      height: 300px;
    }

    .slideCaption {
      .slideColection {
        font-size: 12px;
        line-height: 16px;
      }

      .slideDescription {
        line-height: 18px;
        font-size: 14px;
        width: 170px;
        margin-top: 12px;
        margin-bottom: 24px;
      }
    }
    .slideLast {
      left: 12%;
    }
  }
}
